# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\vue_study_2021_5_29\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
