<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="v_study.css"/>
</head>
<body>
<div id="app">
  <ul>
    <li v-for="(item,index) in arr" :title="item">
      校区{{item}}
    </li>
    <li v-for="(item,index) in objArr">
      {{item.name}}
      {{index.name}}
    </li>
  </ul>
  <button type="button" value="tianjia" @click="add"></button>

  <h2 v-for="item in objArr" v-bind:title="item.name">{{item.name}}</h2>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var app = new Vue({
    el:"#app",
    data:{
      arr:["beijing","shanghai","guangzyhou","shenzhen"],
      objArr:[
        {name:"jack"},
        {name:"rose"}
      ]
    },
    methods:{
      add:function (){
        this.objArr.push({name:"newname"})
      },
      remove:function (){
        this.objArr.shift();
      }
    }
  })
</script>
</body>
</html>